@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic&display=swap);

@charset "UTF-8";

@font-face {
  font-family: FuturaPT;
  font-display: swap;
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FuturaPT;
  font-display: swap;
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"), url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: P22AllysonPro;
  font-display: swap;
  src: url("../fonts/P22AllysonPro.woff2") format("woff2"), url("../fonts/P22AllysonPro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PFMarletDisplay;
  font-display: swap;
  src: url("../fonts/PFMarletDisplay-Bold.woff2") format("woff2"), url("../fonts/PFMarletDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: PFMarletDisplay;
  font-display: swap;
  src: url("../fonts/PFMarletDisplay-Regular.woff2") format("woff2"), url("../fonts/PFMarletDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PFMarletDisplay;
  font-display: swap;
  src: url("../fonts/PFMarletDisplay-Light.woff2") format("woff2"), url("../fonts/PFMarletDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

:root {
  /* Mode 1 */
  /* colors */
  --colors-based-global-black: #262626;
  --colors-based-global-white-color: #ffffff;
  --colors-based-globl-bg-color: #6c809a;
  --colors-brend-accent: #e0f543;
  --colors-brend-access: #54da51;
  --colors-brend-brand-1: #efedf5;
  --colors-brend-brand-2: #c9bef3;
  --colors-brend-brand-3: #b7a6fd;
  --colors-brend-brand-4: #a795f2;
  --colors-brend-brand-dark: #393d42;
  --colors-brend-error: #d04f4f;
  --colors-opacity-opacity-dark-global-1: #393d420d;
  --colors-opacity-opacity-dark-global-2: #393d421a;
  --colors-opacity-opacity-dark-global-3: #393d4226;
  --colors-opacity-opacity-light-global-1: #ffffff0d;
  --colors-opacity-opacity-light-global-2: #efedf51a;
  --colors-opacity-opacity-light-global-3: #efedf526;
  --colors-opacity-opacity-light-global-4: #efedf533;
  --colors-opacity-opacity-light-global-5: #efedf540;
  --shadow-accent: #e0f543;
  --colors-border-border-accent: var(--colors-brend-accent);
  --colors-border-border-access: var(--colors-brend-access);
  --colors-border-border-brand-1: var(--colors-brend-brand-1);
  --colors-border-border-brand-2: var(--colors-brend-brand-2);
  --colors-border-border-brand-3: var(--colors-brend-brand-3);
  --colors-border-border-brand-4: var(--colors-brend-brand-4);
  --colors-border-border-dark: var(--colors-brend-brand-dark);
  --colors-border-border-dark-opacity-1: var(--colors-opacity-opacity-dark-global-1);
  --colors-border-border-dark-opacity-2: var(--colors-opacity-opacity-dark-global-2);
  --colors-border-border-error: var(--colors-brend-error);
  --colors-border-border-opacity-1: var(--colors-opacity-opacity-light-global-1);
  --colors-border-border-opacity-2: var(--colors-opacity-opacity-light-global-2);
  --colors-border-border-opacity-3: var(--colors-opacity-opacity-light-global-3);
  --colors-border-border-opacity-4: var(--colors-opacity-opacity-light-global-4);
  --colors-border-border-opacity-5: var(--colors-opacity-opacity-light-global-5);
  --colors-surfece-surface-accent: var(--colors-brend-accent);
  --colors-surfece-surface-brand-1: var(--colors-brend-brand-1);
  --colors-surfece-surface-brand-2: var(--colors-brend-brand-2);
  --colors-surfece-surface-brand-3: var(--colors-brend-brand-3);
  --colors-surfece-surface-brand-4: var(--colors-brend-brand-4);
  --colors-surfece-surface-dark: var(--colors-brend-brand-dark);
  --colors-surfece-surface-opacity-1: var(--colors-opacity-opacity-light-global-1);
  --colors-surfece-surface-opacity-2: var(--colors-opacity-opacity-light-global-2);
  --colors-surfece-surface-opacity-3: var(--colors-opacity-opacity-light-global-3);
  --colors-surfece-surface-opacity-4: var(--colors-opacity-opacity-light-global-4);
  --colors-surfece-surface-opacity-5: var(--colors-opacity-opacity-light-global-4);
  --colors-text-text-accent: var(--colors-brend-accent);
  --colors-text-text-access: var(--colors-brend-access);
  --colors-text-text-brand-2: var(--colors-surfece-surface-brand-2);
  --colors-text-text-dark: var(--colors-surfece-surface-dark);
  --colors-text-text-error: var(--colors-brend-error);
  --colors-text-text-light: var(--colors-brend-brand-1);
  --colors-text-text-opacity-1: var(--colors-border-border-opacity-1);
  --colors-text-text-opacity-2: var(--colors-border-border-opacity-2);
  --colors-text-text-opacity-3: var(--colors-border-border-opacity-3);
  --colors-text-text-opacity-4: var(--colors-border-border-opacity-4);
  --colors-text-text-opacity-5: var(--colors-border-border-opacity-5);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--colors-text-text-light);
  line-height: 1;
  font-family: "FuturaPT";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "FuturaPT";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 93.75vw;
  margin: 0 auto;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  list-style: none;
  border-bottom: 1px solid var(--colors-opacity-opacity-light-global-3);
  color: var(--colors-text-text-light);
  position: relative;
}

.spollers__title:hover {
  background-color: var(--colors-border-border-brand-4);
}

.spollers__title:first-child {
  border-top: 1px solid var(--colors-opacity-opacity-light-global-3);
}

.spollers__title::marker,
.spollers__title::-webkit-details-marker {
  display: none;
}

.spollers__title._spoller-active {
  background-color: var(--colors-surfece-surface-accent);
  color: var(--colors-text-text-dark);
}

.spollers__title._spoller-active::before {
  width: 100%;
  left: 0;
  right: auto;
}

.spollers__title._spoller-active .spollers__icon {
  border-color: var(--colors-border-border-dark) !important;
}

.spollers__title._spoller-active .spollers__icon::before,
.spollers__title._spoller-active .spollers__icon::after {
  background-color: var(--colors-border-border-dark) !important;
}

.spollers__title._spoller-active .spollers__icon::after {
  -webkit-transform: translate(50%, -50%) rotate(0deg) !important;
      -ms-transform: translate(50%, -50%) rotate(0deg) !important;
          transform: translate(50%, -50%) rotate(0deg) !important;
}

.spollers__title .price__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}

._spoller-init .spollers__title {
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: toRem(12);
  		height: toRem(1);
  		transition: all 0.3s ease 0s;
  		width: toRem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: toRem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}

._spoller-init .spollers__title .spollers__icon {
  position: relative;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 0.0520833333vw solid transparent;
  background-color: var(--colors-surfece-surface-opacity-3);
}

._spoller-init .spollers__title .spollers__icon::before,
._spoller-init .spollers__title .spollers__icon::after {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  background-color: #EFEDF5;
  height: 0.1041666667vw;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

._spoller-init .spollers__title .spollers__icon::before {
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

._spoller-init .spollers__title .spollers__icon::after {
  -webkit-transform: translate(50%, -50%) rotate(-90deg);
      -ms-transform: translate(50%, -50%) rotate(-90deg);
          transform: translate(50%, -50%) rotate(-90deg);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg-contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.trainers__body::-webkit-scrollbar {
  display: none;
}

htnl,
body,
.wrapper {
  background: linear-gradient(179deg, #9D87F9 -8.23%, #AE9BFF 63.27%, #C0B1FF 134.77%);
  overflow-x: hidden;
}

html.menu-open body {
  overflow: hidden;
}

.transition-main {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

html.is-animating .transition-main {
  opacity: 0;
  -webkit-transform: translateX(-1em);
      -ms-transform: translateX(-1em);
          transform: translateX(-1em);
}

html.is-leaving .transition-main {
  -webkit-transform: translateX(1em);
      -ms-transform: translateX(1em);
          transform: translateX(1em);
}

html.is-animating.to-left .transition-main {
  opacity: 0;
  -webkit-transform: translateX(1em);
      -ms-transform: translateX(1em);
          transform: translateX(1em);
}

html.is-leaving.to-left .transition-main {
  -webkit-transform: translateX(-1em);
      -ms-transform: translateX(-1em);
          transform: translateX(-1em);
}

h1,
.h1 {
  color: var(--colors-text-text-light);
  font-family: "Lora";
  font-weight: 400;
  line-height: 120%;
  /* 216px */
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

h2,
.h2 {
  color: var(--colors-text-text-light);
  font-family: "Lora";
  font-weight: 400;
  line-height: 120%;
  /* 216px */
  text-transform: uppercase;
}

.title-page {
  color: var(--colors-brend-brand-1);
}

.title-page--center {
  text-align: center;
}

.title-page span {
  color: var(--colors-brend-brand-dark);
  display: block;
}

h3,
.h3 {
  color: var(--colors-text-text-dark);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.font-p22 {
  font-family: "P22AllysonPro";
}

.section-yellow {
  background-color: var(--colors-surfece-surface-accent);
}

.section-opacity {
  background-color: var(--colors-opacity-opacity-light-global-1);
}

.section-header .subtitle {
  text-align: center;
  color: var(--colors-brend-accent);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.header__logo {
  margin-bottom: -0.75rem;
}

.header__logo svg {
  height: auto;
  min-width: 5rem;
}

.header__left-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 37.5vw;
          flex: 0 1 37.5vw;
  height: 100%;
  border-bottom: 1px solid var(--colors-border-border-opacity-3);
}

.header__left-side ul p {
  color: var(--colors-text-text-light);
  font-size: 1.0416666667vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 24px */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left-side ul a {
  color: var(--colors-text-text-light);
  font-size: 1.0416666667vw;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  position: relative;
  margin-left: 0.4166666667vw;
  line-height: 120%;
  /* 24px */
}

.header__left-side ul a:hover::before {
  width: 100%;
  left: 0;
}

.header__left-side ul a::before {
  content: "";
  width: 0%;
  right: 0;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  bottom: -0.3125rem;
  height: 1px;
  background-color: var(--colors-text-text-light);
}

.header__right-side {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.header__right-side .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125vw;
}

.header__right-side ul p {
  color: var(--colors-text-text-light);
  font-size: 1.0416666667vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 24px */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right-side ul a {
  color: var(--colors-text-text-light);
  font-size: 1.0416666667vw;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  position: relative;
  line-height: 120%;
  /* 24px */
}

.header__right-side ul a:hover::before {
  width: 100%;
  left: 0;
}

.header__right-side ul a::before {
  content: "";
  width: 0%;
  right: 0;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  bottom: -0.3125rem;
  height: 1px;
  background-color: var(--colors-text-text-light);
}

.header__burger {
  background-color: #E0F543;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 31.25vw;
  width: 100%;
  min-height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  overflow: auto;
  opacity: 0;
  z-index: 4;
}

.menu-open .header__burger {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.header__burger .header__menu .change-location a {
  color: var(--colors-text-text-dark);
  position: relative;
  font-style: normal;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 120%;
  /* 21.6px */
}

.header__burger .header__menu .change-location a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--colors-text-text-dark);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__burger .header__menu .change-location a:hover::before {
  right: 0;
  width: 0;
  left: auto;
}

.header__burger .header__menu .menu__body {
  border-bottom: 1px solid rgba(57, 61, 66, 0.4);
}

.header__burger .header__menu .menu__body ul li {
  margin-bottom: 1.0416666667vw;
}

.header__burger .header__menu .menu__body ul li:last-child {
  margin-bottom: 0;
}

.header__burger .header__menu .menu__body ul li a {
  color: var(--colors-text-text-dark);
  font-family: "Lora";
  padding-bottom: 0.625rem;
  position: relative;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  /* 48px */
}

.header__burger .header__menu .menu__body ul li a:hover::before {
  width: 100%;
  left: 0;
}

.header__burger .header__menu .menu__body ul li a::before {
  content: "";
  width: 0%;
  right: 0;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  bottom: 0;
  height: 1px;
  background-color: var(--colors-text-text-dark);
}

.header__burger .header__menu .menu__footer ul li {
  margin-bottom: 0.625vw;
}

.header__burger .header__menu .menu__footer ul li:last-child {
  margin-bottom: 0;
}

.header__burger .header__menu .menu__footer ul li a,
.header__burger .header__menu .menu__footer ul li p {
  color: var(--colors-text-text-dark);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 16.8px */
}

.icon-menu {
  cursor: pointer;
  border-radius: 50%;
  padding: 0.25rem;
  background-color: var(--colors-surfece-surface-opacity-3);
  z-index: 5;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icon-menu:hover {
  background-color: var(--colors-surfece-surface-opacity-4);
}

.icon-menu:active {
  background-color: var(--colors-surfece-surface-opacity-2);
}

.menu-open .icon-menu {
  background-color: var(--colors-surfece-surface-dark);
}

.icon-menu__icon {
  position: relative;
}

.icon-menu__icon span,
.icon-menu__icon::before,
.icon-menu__icon::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  border-radius: 0.625rem;
  background-color: #EFEDF5;
}

.icon-menu__icon::before {
  top: 0;
}

.icon-menu__icon::after {
  bottom: 0;
}

.icon-menu__icon span {
  width: 70%;
  right: auto;
  right: 0;
}

.menu-open .icon-menu__icon span {
  width: 0;
}

.menu-open .icon-menu__icon::before,
.menu-open .icon-menu__icon::after {
  background-color: #EFEDF5;
}

.menu-open .icon-menu__icon::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu__icon::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

h1 {
  text-align: center;
}

body {
  /* width */
  /* Track */
  /* Handle */
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(179deg, #9D87F9 -22.45%, #AE9BFF 69.3%, #C0B1FF 161.05%);
}

body::-webkit-scrollbar-thumb {
  background: var(--colors-brend-brand-2);
  border-radius: 0.75rem;
}

.main-page {
  min-height: 100vh;
  background: linear-gradient(179deg, #9D87F9 -22.45%, #AE9BFF 69.3%, #C0B1FF 161.05%);
}

.main-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-page__running-string .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.main-page__running-string .swiper-slide {
  white-space: nowrap;
}

.main-page__running-string .swiper-slide h2 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-page__running-string .slide-black h2 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: var(--colors-text-text-dark);
}

.main-page__body .main-page__container {
  height: 100%;
  position: relative;
}

.main-page__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page__links ul {
  text-align: center;
}

.main-page__links ul li:last-child {
  margin-bottom: 0;
}

.main-page__links ul li a {
  color: var(--colors-text-text-light);
  text-align: center;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  /* 52.8px */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.main-page__links ul li a::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: var(--colors-text-text-light);
}

.main-page__links ul li a:hover {
  color: var(--colors-text-text-dark);
}

.main-page__links ul li a:hover::before {
  background-color: var(--colors-text-text-dark);
}

.main-page__links-images img {
  position: absolute;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-page__links-images img:first-of-type {
  left: 1.25rem;
}

.main-page__links-images img:last-of-type {
  right: 1.25rem;
  bottom: -30%;
}

.main-page__footer {
  text-align: center;
}

.main-page__footer p {
  color: var(--colors-text-text-light);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 21.6px */
}

.block-images {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.block-images.active {
  opacity: 1;
}

.block-images img {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: inline-block;
  /* or block, depending on layout */
}

/* Specific positions and animations for images */

.img-left-out {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.img-right-out {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.main-page-hero {
  min-height: 100%;
  background: none;
}

.main-page-hero .main-page__header h1 {
  margin-bottom: 0;
}

.main-page-hero .main-page__header span {
  text-align: center;
  display: block;
  color: var(--colors-text-text-light);
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  /* 28.8px */
}

.main-page-hero .main-page__body {
  margin-bottom: 0;
  text-align: center;
}

.main-page-hero .main-page__body p {
  margin: 0 auto;
  color: var(--colors-text-text-light);
  text-align: center;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  /* 28.8px */
}

.main-page-hero .main-page__body .hero-button {
  background-color: var(--colors-surfece-surface-brand-1);
  color: var(--colors-surfece-surface-dark);
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Lora";
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  /* 20px */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-page-hero .main-page__body .hero-button:hover {
  background-color: var(--colors-surfece-surface-brand-2);
}

.main-page-hero .main-page__body .hero-button:active {
  color: var(--colors-text-text-light);
  background-color: var(--colors-surfece-surface-brand-4);
}

.about__content {
  text-align: center;
}

.about__content p {
  color: var(--colors-text-text-dark);
  font-family: "Lora";
  font-style: normal;
  font-weight: 250;
  line-height: 140%;
  /* 56px */
  text-transform: uppercase;
}

.trainers__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.trainers .trainer-card {
  overflow: hidden;
  position: relative;
}

.trainers .trainer-card:hover .trainer-card__body {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.trainers .trainer-card:hover .icon {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.trainers .trainer-card:hover .icon rect {
  stroke: var(--colors-surfece-surface-accent);
  fill: var(--colors-surfece-surface-accent);
}

.trainers .trainer-card .icon {
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.trainers .trainer-card .icon rect,
.trainers .trainer-card .icon path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.trainers .trainer-card .icon svg {
  width: 100%;
  height: 100%;
}

.trainers .trainer-card__image {
  height: 100%;
}

.trainers .trainer-card__image.empty {
  width: 100%;
  height: 100%;
  background-color: var(--colors-border-border-brand-4);
}

.trainers .trainer-card__image img {
  height: 100%;
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0.15625vw solid var(--colors-surfece-surface-accent);
}

.trainers .trainer-card__body {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  inset: 0;
  background-color: var(--colors-surfece-surface-accent);
}

.trainers .trainer-card__body ul li {
  display: inline-block;
  color: var(--colors-brend-brand-dark);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 0.0520833333vw solid var(--colors-border-border-dark-opacity-2);
}

.trainers .trainer-card__body ul li:last-child {
  margin-bottom: 0;
}

.trainers .trainer-card__header span {
  color: var(--colors-brend-brand-dark);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  margin-bottom: 0.5rem;
}

.trainers .trainer-card__header p {
  color: var(--colors-brend-brand-dark);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 36px */
}

.price .spollers__title {
  font-family: "Lora";
  font-style: normal;
  font-weight: 250;
  line-height: 100%;
  /* 40px */
  text-transform: uppercase;
}

.look__column:nth-child(odd) .column-look__image {
  border: 0.15625vw solid var(--colors-border-border-accent);
}

.look__column:nth-child(even) .column-look__image {
  border: 0.15625vw solid var(--colors-border-border-dark);
}

.look__column .column-look__image img {
  max-width: 100%;
}

.look__column .column-look__body p {
  color: var(--colors-brend-brand-1);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.look__column .column-look__body p span {
  color: var(--colors-brend-brand-dark);
}

.benefits__item {
  color: var(--colors-text-text-light);
  font-family: "Lora";
  position: relative;
  border-bottom: 1px solid var(--colors-opacity-opacity-light-global-3);
  position: relative;
  font-style: normal;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-weight: 250;
  line-height: 100%;
  /* 40px */
  text-transform: uppercase;
  text-align: center;
}

.benefits__item.active {
  color: #393D42;
  /* темно-серый текст */
}

.benefits__item.active::before {
  width: 100%;
  left: 0;
}

.benefits__item::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #E0F543;
  /* желтый фон */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.benefits__item p {
  position: relative;
  z-index: 1;
}

.benefits__item:first-child {
  border-top: 1px solid var(--colors-opacity-opacity-light-global-3);
}

.gallery {
  min-height: 1000rem;
}

.table-schedule__row h6 {
  color: var(--colors-text-text-light);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 39.2px */
}

.table-schedule__line {
  border-bottom: 0.0520833333vw solid var(--colors-surfece-surface-opacity-3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}

.table-schedule__line .line-col span {
  color: var(--colors-text-text-light);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 28.8px */
  display: block;
  margin-bottom: 0.2083333333vw;
}

.table-schedule__line .line-col p {
  color: var(--colors-text-text-light);
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  /* 28.8px */
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 77.5em) {
  .header__burger .header__menu .change-location a {
    font-size: 1.125rem;
  }

  .header__burger .header__menu .menu__footer ul li a,
  .header__burger .header__menu .menu__footer ul li p {
    font-size: 0.875rem;
  }

  .main-page {
    padding-bottom: 3.75rem;
  }

  .main-page {
    padding-top: 1.875rem;
  }

  .trainers .trainer-card__body ul li {
    padding-bottom: 0.25rem;
  }
}

@media (min-width: 428px) {
  .icon-menu__icon span,
  .icon-menu__icon::before,
  .icon-menu__icon::after {
    height: 0.1041666667vw;
  }

  .icon-menu__icon span {
    top: calc(50% - 0.0520833333vw);
  }

  .menu-open .icon-menu__icon::before {
    top: calc(50% - 0.0520833333vw);
  }

  .menu-open .icon-menu__icon::after {
    top: calc(50% - 0.0520833333vw);
  }

  .trainers__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 960px) {
  [class*=__container] {
    padding-left: 1.0416666667vw;
  }

  [class*=__container] {
    padding-right: 1.0416666667vw;
  }

  ._spoller-init .spollers__title .spollers__icon {
    width: 1.875vw;
  }

  ._spoller-init .spollers__title .spollers__icon {
    height: 1.875vw;
  }

  ._spoller-init .spollers__title .spollers__icon::before,
  ._spoller-init .spollers__title .spollers__icon::after {
    width: 0.625vw;
  }

  .spollers__body {
    padding-top: 2.2916666667vw;
  }

  h1,
  .h1 {
    font-size: 9.375vw;
  }

  h2,
  .h2 {
    font-size: 6.25vw;
  }

  h3,
  .h3 {
    font-size: 3.125vw;
  }

  .section-padding-lg {
    padding-top: 10.4166666667vw;
  }

  .section-padding-lg {
    padding-bottom: 10.4166666667vw;
  }

  .section-padding-xl {
    padding-top: 12.5vw;
  }

  .section-padding-xl {
    padding-bottom: 12.5vw;
  }

  .section-header {
    margin-bottom: 5.2083333333vw;
  }

  .section-header .subtitle {
    margin-top: 1.0416666667vw;
  }

  .section-header .subtitle {
    font-size: 3.125vw;
  }

  .header {
    padding-top: 2.0833333333vw;
  }

  .header__logo svg {
    width: 9.375vw;
  }

  .header__left-side {
    padding-bottom: 2.0833333333vw;
  }

  .header__left-side ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2.0833333333vw;
  }

  .header__right-side {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 37.5vw;
            flex: 0 1 37.5vw;
    padding-bottom: 1.25vw;
    border-bottom: 1px solid var(--colors-border-border-opacity-3);
  }

  .header__right-side ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__right-side ul li {
    margin-right: 1.1979166667vw;
  }

  .header__right-side ul li:last-child {
    margin-right: 0;
  }

  .header__burger {
    padding-top: 4.1666666667vw;
  }

  .header__burger {
    padding-bottom: 4.1666666667vw;
  }

  .header__burger {
    padding-left: 3.125vw;
  }

  .header__burger {
    padding-right: 3.125vw;
  }

  .header__burger .header__menu .change-location {
    margin-bottom: 5.9895833333vw;
  }

  .header__burger .header__menu .menu__body {
    margin-bottom: 4.1666666667vw;
  }

  .header__burger .header__menu .menu__body {
    padding-bottom: 4.1666666667vw;
  }

  .header__burger .header__menu .menu__body ul li a {
    font-size: 2.0833333333vw;
  }

  .icon-menu {
    width: 2.7083333333vw;
    height: 2.7083333333vw;
  }

  .icon-menu__icon {
    width: 0.8854166667vw;
  }

  .icon-menu__icon {
    height: 0.7291666667vw;
  }

  .main-page__running-string .swiper-slide {
    margin-right: 3.125vw;
  }

  .main-page__header {
    margin-bottom: 6.25vw;
  }

  .main-page__body {
    margin-bottom: 6.25vw;
  }

  .main-page__links ul li {
    margin-bottom: 2.0833333333vw;
  }

  .main-page__links ul li a {
    font-size: 2.2916666667vw;
  }

  .main-page__links-images img:first-of-type {
    width: 12.5vw;
    height: 16.6666666667vw;
  }

  .main-page__links-images img:last-of-type {
    width: 6.25vw;
    height: 8.3333333333vw;
  }

  .main-page__footer p {
    font-size: 0.9375vw;
  }

  .main-page-hero {
    padding-bottom: 8.3333333333vw;
    padding-top: 6.25vw;
  }

  .main-page-hero .main-page__header {
    margin-bottom: 1.0416666667vw;
  }

  .main-page-hero .main-page__header span {
    font-size: 1.25vw;
  }

  .main-page-hero .main-page__header span {
    margin-bottom: 1.0416666667vw;
  }

  .main-page-hero .main-page__body p {
    max-width: 30%;
  }

  .main-page-hero .main-page__body p {
    font-size: 1.25vw;
  }

  .main-page-hero .main-page__body p {
    margin-bottom: 3.125vw;
  }

  .main-page-hero .main-page__body .hero-button {
    width: 11.4583333333vw;
    height: 3.75vw;
  }

  .main-page-hero .main-page__body .hero-button {
    font-size: 1.0416666667vw;
  }

  .about__content p {
    font-size: 3.125vw;
  }

  .about__content p {
    margin-top: 1.0416666667vw;
  }

  .trainers__body {
    gap: 1.0416666667vw;
  }

  .trainers .trainer-card {
    width: 21.875vw;
  }

  .trainers .trainer-card {
    min-height: 29.1666666667vw;
  }

  .trainers .trainer-card .icon {
    left: 1.4583333333vw;
  }

  .trainers .trainer-card .icon {
    bottom: 1.4583333333vw;
  }

  .trainers .trainer-card .icon {
    width: 2.7083333333vw;
  }

  .trainers .trainer-card .icon {
    height: 2.7083333333vw;
  }

  .trainers .trainer-card__body {
    padding-top: 2.0833333333vw;
    padding-bottom: 4.1666666667vw;
    padding-left: 1.4583333333vw;
    padding-right: 1.4583333333vw;
  }

  .trainers .trainer-card__body ul li {
    margin-bottom: 0.625vw;
  }

  .trainers .trainer-card__body ul li {
    font-size: 0.9375vw;
  }

  .trainers .trainer-card__header {
    margin-bottom: 2.34375vw;
  }

  .trainers .trainer-card__header span {
    font-size: 0.9375vw;
  }

  .trainers .trainer-card__header p {
    font-size: 1.875vw;
  }

  .price .spollers .price__container {
    max-width: 67.7083333333vw;
  }

  .price .spollers__title {
    font-size: 2.0833333333vw;
  }

  .price .spollers__title {
    padding-top: 2.1875vw;
    padding-bottom: 2.1875vw;
  }

  .look__container {
    max-width: 67.7083333333vw;
  }

  .look__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .look__list {
    gap: 1.0416666667vw;
  }

  .look__column .column-look__image {
    margin-bottom: 1.4583333333vw;
  }

  .look__column .column-look__body p {
    font-size: 1.25vw;
  }

  .benefits__item {
    font-size: 2.0833333333vw;
  }

  .benefits__item {
    padding-top: 2.2916666667vw;
  }

  .benefits__item {
    padding-bottom: 2.2916666667vw;
  }

  .table-schedule__row {
    margin-bottom: 4.1666666667vw;
  }

  .table-schedule__row h6 {
    font-size: 1.4583333333vw;
  }

  .table-schedule__row h6 {
    margin-bottom: 1.6666666667vw;
  }

  .table-schedule__line {
    margin-bottom: 1.25vw;
  }

  .table-schedule__line {
    padding-bottom: 0.8333333333vw;
  }

  .table-schedule__line .line-col span {
    font-size: 1.25vw;
  }

  .table-schedule__line .line-col p {
    font-size: 1.25vw;
  }
}

@media (max-width: 960px) {
  [class*=__container] {
    max-width: 100%;
  }

  .header__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__logo {
    margin-bottom: 0;
  }

  .header__left-side {
    display: none;
  }

  .header__left-side ul {
    display: none;
  }

  .header__right-side {
    position: absolute;
    right: 0;
  }

  .header__right-side ul {
    display: none;
  }

  .header__burger {
    max-width: 62.5vw;
  }

  .main-page__links-images {
    display: none;
  }

  .main-page-hero .main-page__body p {
    max-width: 45vw;
  }

  .look__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .look__list {
    overflow: auto;
  }
}

@media (max-width: 768px) {
  .main-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-page__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 428px) {
  [class*=__container] {
    padding-left: 1.8691588785vw;
  }

  [class*=__container] {
    padding-right: 1.8691588785vw;
  }

  ._spoller-init .spollers__title .spollers__icon {
    width: 8.4112149533vw;
  }

  ._spoller-init .spollers__title .spollers__icon {
    height: 8.4112149533vw;
  }

  ._spoller-init .spollers__title .spollers__icon::before,
  ._spoller-init .spollers__title .spollers__icon::after {
    width: 2.8037383178vw;
  }

  .spollers__body {
    padding-top: 9.3457943925vw;
  }

  h1,
  .h1 {
    font-size: 18.691588785vw;
  }

  h2,
  .h2 {
    font-size: 12.1495327103vw;
  }

  h3,
  .h3 {
    font-size: 7.476635514vw;
  }

  .section-padding-lg {
    padding-top: 18.691588785vw;
  }

  .section-padding-lg {
    padding-bottom: 18.691588785vw;
  }

  .section-padding-xl {
    padding-top: 37.3831775701vw;
  }

  .section-padding-xl {
    padding-bottom: 37.3831775701vw;
  }

  .section-header {
    margin-bottom: 14.0186915888vw;
  }

  .section-header .subtitle {
    margin-top: 2.8037383178vw;
  }

  .section-header .subtitle {
    font-size: 9.3457943925vw;
  }

  .header {
    padding-top: 14.0186915888vw;
  }

  .header__logo svg {
    width: 25.7009345794vw;
  }

  .header__burger {
    max-width: 100%;
  }

  .header__burger {
    padding-top: 18.691588785vw;
  }

  .header__burger {
    padding-bottom: 18.691588785vw;
  }

  .header__burger {
    padding-left: 0.75rem;
  }

  .header__burger {
    padding-right: 0.75rem;
  }

  .header__burger .header__menu .change-location {
    margin-bottom: 18.691588785vw;
  }

  .header__burger .header__menu .menu__body {
    margin-bottom: 18.691588785vw;
  }

  .header__burger .header__menu .menu__body {
    padding-bottom: 18.691588785vw;
  }

  .header__burger .header__menu .menu__body ul li a {
    font-size: 7.476635514vw;
  }

  .icon-menu__icon {
    width: 1.0625rem;
  }

  .icon-menu__icon {
    height: 0.875rem;
  }

  .icon-menu__icon span,
  .icon-menu__icon::before,
  .icon-menu__icon::after {
    height: 0.125rem;
  }

  .icon-menu__icon span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu__icon::before {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu__icon::after {
    bottom: calc(50% - 0.0625rem);
  }

  .main-page__running-string .swiper-slide {
    margin-right: 7.0093457944vw;
  }

  .main-page__header {
    margin-bottom: 18.691588785vw;
  }

  .main-page__body {
    margin-bottom: 18.691588785vw;
  }

  .main-page__links ul li {
    margin-bottom: 7.476635514vw;
  }

  .main-page__links ul li a {
    font-size: 7.476635514vw;
  }

  .main-page__footer p {
    font-size: 3.738317757vw;
  }

  .main-page-hero {
    padding-bottom: 51.4018691589vw;
    padding-top: 25.7009345794vw;
  }

  .main-page-hero .main-page__header {
    margin-bottom: 4.6728971963vw;
  }

  .main-page-hero .main-page__header span {
    font-size: 3.738317757vw;
  }

  .main-page-hero .main-page__header span {
    margin-bottom: 4.6728971963vw;
  }

  .main-page-hero .main-page__body p {
    max-width: 70vw;
  }

  .main-page-hero .main-page__body p {
    font-size: 3.738317757vw;
  }

  .main-page-hero .main-page__body p {
    margin-bottom: 14.0186915888vw;
  }

  .main-page-hero .main-page__body .hero-button {
    width: 42.0560747664vw;
    height: 14.0186915888vw;
  }

  .main-page-hero .main-page__body .hero-button {
    font-size: 3.738317757vw;
  }

  .about__content p {
    font-size: 5.6074766355vw;
  }

  .about__content p {
    margin-top: 1.8691588785vw;
  }

  .trainers__body {
    gap: 4.6728971963vw;
    overflow: auto;
    margin-right: -1.8691588785vw;
    padding-right: 1.8691588785vw;
  }

  .trainers .trainer-card {
    min-width: 74.7663551402vw;
  }

  .trainers .trainer-card {
    min-height: 102.8037383178vw;
  }

  .trainers .trainer-card .icon {
    left: 4.6728971963vw;
  }

  .trainers .trainer-card .icon {
    bottom: 4.6728971963vw;
  }

  .trainers .trainer-card .icon {
    width: 12.1495327103vw;
  }

  .trainers .trainer-card .icon {
    height: 10.2803738318vw;
  }

  .trainers .trainer-card__body {
    padding-top: 7.476635514vw;
    padding-bottom: 14.953271028vw;
    padding-left: 4.6728971963vw;
    padding-right: 4.6728971963vw;
  }

  .trainers .trainer-card__body ul li {
    margin-bottom: 2.8037383178vw;
  }

  .trainers .trainer-card__body ul li {
    font-size: 3.2710280374vw;
  }

  .trainers .trainer-card__header {
    margin-bottom: 7.0093457944vw;
  }

  .trainers .trainer-card__header span {
    font-size: 3.738317757vw;
  }

  .trainers .trainer-card__header p {
    font-size: 6.5420560748vw;
  }

  .price .spollers__title {
    font-size: 5.1401869159vw;
  }

  .price .spollers__title {
    padding-top: 5.6074766355vw;
    padding-bottom: 5.6074766355vw;
  }

  .look__list {
    margin-right: -1.8691588785vw;
  }

  .look__list {
    padding-right: 1.8691588785vw;
  }

  .look__list {
    gap: 4.6728971963vw;
  }

  .look__column {
    min-width: 74.7663551402vw;
  }

  .look__column .column-look__image {
    margin-bottom: 2.8037383178vw;
  }

  .look__column .column-look__body p {
    font-size: 3.738317757vw;
  }

  .benefits__item {
    font-size: 5.1401869159vw;
  }

  .benefits__item {
    padding-top: 5.6074766355vw;
  }

  .benefits__item {
    padding-bottom: 5.6074766355vw;
  }

  .table-schedule__row {
    margin-bottom: 9.3457943925vw;
  }

  .table-schedule__row h6 {
    font-size: 4.6728971963vw;
  }

  .table-schedule__row h6 {
    margin-bottom: 4.6728971963vw;
  }

  .table-schedule__line {
    margin-bottom: 4.6728971963vw;
  }

  .table-schedule__line {
    padding-bottom: 2.8037383178vw;
  }

  .table-schedule__line .line-col span {
    font-size: 4.6728971963vw;
  }

  .table-schedule__line .line-col p {
    font-size: 3.738317757vw;
  }
}

@media (max-width: 428px) and (max-width: 20em) {
  .icon-menu {
    width: 2.625rem;
  }

  .icon-menu {
    height: 2.625rem;
  }
}

@media (max-width: 427px) {
  .section-header .subtitle {
    font-size: 7.0257611241vw;
  }

  .about__content p {
    font-size: 4.2154566745vw;
  }
}

@media (max-width: 20em) {
  .header__burger .header__menu .change-location a {
    font-size: 0.75rem;
  }

  .header__burger .header__menu .menu__footer ul li a,
  .header__burger .header__menu .menu__footer ul li p {
    font-size: 0.75rem;
  }

  .main-page {
    padding-bottom: 2.5rem;
  }

  .main-page {
    padding-top: 1.875rem;
  }

  .trainers .trainer-card__body ul li {
    padding-bottom: 0.0625rem;
  }
}

@media (max-width: 26.6875em) {
  h1,
  .h1 {
    font-size: 11.6822429907vw;
  }
}

@media (max-width: 960px) and (min-width: 428px) {
  [class*=__container] {
    padding-left: 2.0833333333vw;
  }

  [class*=__container] {
    padding-right: 2.0833333333vw;
  }

  ._spoller-init .spollers__title .spollers__icon {
    width: 3.75vw;
  }

  ._spoller-init .spollers__title .spollers__icon {
    height: 3.75vw;
  }

  ._spoller-init .spollers__title .spollers__icon::before,
  ._spoller-init .spollers__title .spollers__icon::after {
    width: 1.25vw;
  }

  .spollers__body {
    padding-top: 6.25vw;
  }

  h1,
  .h1 {
    font-size: 12.5vw;
  }

  h2,
  .h2 {
    font-size: 8.3333333333vw;
  }

  h3,
  .h3 {
    font-size: 4.1666666667vw;
  }

  .section-padding-lg {
    padding-top: 8.3333333333vw;
  }

  .section-padding-lg {
    padding-bottom: 8.3333333333vw;
  }

  .section-padding-xl {
    padding-top: 20.8333333333vw;
  }

  .section-padding-xl {
    padding-bottom: 20.8333333333vw;
  }

  .section-header {
    margin-bottom: 8.3333333333vw;
  }

  .section-header .subtitle {
    margin-top: 2.0833333333vw;
  }

  .section-header .subtitle {
    font-size: 4.1666666667vw;
  }

  .header {
    padding-top: 4.1666666667vw;
  }

  .header__logo svg {
    width: 14.5833333333vw;
  }

  .header__left-side {
    padding-bottom: 4.1666666667vw;
  }

  .header__burger {
    padding-top: 8.3333333333vw;
  }

  .header__burger {
    padding-bottom: 8.3333333333vw;
  }

  .header__burger {
    padding-left: 6.25vw;
  }

  .header__burger {
    padding-right: 6.25vw;
  }

  .header__burger .header__menu .change-location {
    margin-bottom: 11.9791666667vw;
  }

  .header__burger .header__menu .menu__body {
    margin-bottom: 8.3333333333vw;
  }

  .header__burger .header__menu .menu__body {
    padding-bottom: 8.3333333333vw;
  }

  .header__burger .header__menu .menu__body ul li a {
    font-size: 4.1666666667vw;
  }

  .icon-menu {
    width: 5.4166666667vw;
    height: 5.4166666667vw;
  }

  .icon-menu__icon {
    width: 1.7708333333vw;
  }

  .icon-menu__icon {
    height: 1.4583333333vw;
  }

  .main-page__running-string .swiper-slide {
    margin-right: 6.25vw;
  }

  .main-page__header {
    margin-bottom: 12.5vw;
  }

  .main-page__body {
    margin-bottom: 12.5vw;
  }

  .main-page__links ul li {
    margin-bottom: 4.1666666667vw;
  }

  .main-page__links ul li a {
    font-size: 4.5833333333vw;
  }

  .main-page__footer p {
    font-size: 1.875vw;
  }

  .main-page-hero {
    padding-bottom: 16.6666666667vw;
    padding-top: 12.5vw;
  }

  .main-page-hero .main-page__header {
    margin-bottom: 2.0833333333vw;
  }

  .main-page-hero .main-page__header span {
    font-size: 2.5vw;
  }

  .main-page-hero .main-page__header span {
    margin-bottom: 2.0833333333vw;
  }

  .main-page-hero .main-page__body p {
    font-size: 2.5vw;
  }

  .main-page-hero .main-page__body p {
    margin-bottom: 6.25vw;
  }

  .main-page-hero .main-page__body .hero-button {
    width: 22.9166666667vw;
    height: 7.5vw;
  }

  .main-page-hero .main-page__body .hero-button {
    font-size: 2.0833333333vw;
  }

  .about__content p {
    font-size: 4.1666666667vw;
  }

  .about__content p {
    margin-top: 1.25vw;
  }

  .trainers__body {
    gap: 2.0833333333vw;
  }

  .trainers .trainer-card {
    width: 43.75vw;
  }

  .trainers .trainer-card {
    min-height: 58.3333333333vw;
  }

  .trainers .trainer-card .icon {
    left: 2.9166666667vw;
  }

  .trainers .trainer-card .icon {
    bottom: 2.9166666667vw;
  }

  .trainers .trainer-card .icon {
    width: 5.4166666667vw;
  }

  .trainers .trainer-card .icon {
    height: 5.4166666667vw;
  }

  .trainers .trainer-card__body {
    padding-top: 4.1666666667vw;
    padding-bottom: 8.3333333333vw;
    padding-left: 2.9166666667vw;
    padding-right: 2.9166666667vw;
  }

  .trainers .trainer-card__body ul li {
    margin-bottom: 1.4583333333vw;
  }

  .trainers .trainer-card__body ul li {
    font-size: 1.875vw;
  }

  .trainers .trainer-card__header {
    margin-bottom: 4.6875vw;
  }

  .trainers .trainer-card__header span {
    font-size: 1.875vw;
  }

  .trainers .trainer-card__header p {
    font-size: 3.75vw;
  }

  .price .spollers__title {
    font-size: 3.3333333333vw;
  }

  .price .spollers__title {
    padding-top: 4.375vw;
    padding-bottom: 4.375vw;
  }

  .look__list {
    margin-right: -2.0833333333vw;
  }

  .look__list {
    padding-right: 2.0833333333vw;
  }

  .look__list {
    gap: 2.0833333333vw;
  }

  .look__column {
    min-width: 43.75vw;
  }

  .look__column .column-look__image {
    margin-bottom: 2.9166666667vw;
  }

  .look__column .column-look__body p {
    font-size: 2.5vw;
  }

  .benefits__item {
    font-size: 3.3333333333vw;
  }

  .benefits__item {
    padding-top: 4.5833333333vw;
  }

  .benefits__item {
    padding-bottom: 4.5833333333vw;
  }

  .table-schedule__row {
    margin-bottom: 6.25vw;
  }

  .table-schedule__row h6 {
    font-size: 2.9166666667vw;
  }

  .table-schedule__row h6 {
    margin-bottom: 3.3333333333vw;
  }

  .table-schedule__line {
    margin-bottom: 2.5vw;
  }

  .table-schedule__line {
    padding-bottom: 1.25vw;
  }

  .table-schedule__line .line-col span {
    font-size: 2.5vw;
  }

  .table-schedule__line .line-col p {
    font-size: 2.5vw;
  }
}

@media (min-width: 20em) and (max-width: 77.5em) {
@supports (font-size: clamp( 0.75rem , 0.6195652174rem  +  0.652173913vw , 1.125rem )) {
    .header__burger .header__menu .change-location a {
      font-size: clamp( 0.75rem , 0.6195652174rem  +  0.652173913vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6195652174rem  +  0.652173913vw , 1.125rem )) {
    .header__burger .header__menu .change-location a {
      font-size: calc(0.75rem + 0.375 * (100vw - 20rem) / 57.5);
    }
}

@supports (font-size: clamp( 0.75rem , 0.7065217391rem  +  0.2173913043vw , 0.875rem )) {
    .header__burger .header__menu .menu__footer ul li a,
    .header__burger .header__menu .menu__footer ul li p {
      font-size: clamp( 0.75rem , 0.7065217391rem  +  0.2173913043vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.7065217391rem  +  0.2173913043vw , 0.875rem )) {
    .header__burger .header__menu .menu__footer ul li a,
    .header__burger .header__menu .menu__footer ul li p {
      font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 57.5);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 2.0652173913rem  +  2.1739130435vw , 3.75rem )) {
    .main-page {
      padding-bottom: clamp( 2.5rem , 2.0652173913rem  +  2.1739130435vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 2.0652173913rem  +  2.1739130435vw , 3.75rem )) {
    .main-page {
      padding-bottom: calc(2.5rem + 1.25 * (100vw - 20rem) / 57.5);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem )) {
    .main-page {
      padding-top: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem )) {
    .main-page {
      padding-top: calc(1.875rem + 0 * (100vw - 20rem) / 57.5);
    }
}

@supports (padding-bottom: clamp( 0.0625rem , -0.0027173913rem  +  0.3260869565vw , 0.25rem )) {
    .trainers .trainer-card__body ul li {
      padding-bottom: clamp( 0.0625rem , -0.0027173913rem  +  0.3260869565vw , 0.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.0625rem , -0.0027173913rem  +  0.3260869565vw , 0.25rem )) {
    .trainers .trainer-card__body ul li {
      padding-bottom: calc(0.0625rem + 0.1875 * (100vw - 20rem) / 57.5);
    }
}
}

@media (max-width: 428px) and (min-width: 77.5em) {
  .icon-menu {
    width: 3.25rem;
  }

  .icon-menu {
    height: 3.25rem;
  }
}

@media (max-width: 428px) and (min-width: 20em) and (max-width: 77.5em) {
@supports (width: clamp( 2.625rem , 2.4076086957rem  +  1.0869565217vw , 3.25rem )) {
    .icon-menu {
      width: clamp( 2.625rem , 2.4076086957rem  +  1.0869565217vw , 3.25rem );
    }
}

@supports not (width: clamp( 2.625rem , 2.4076086957rem  +  1.0869565217vw , 3.25rem )) {
    .icon-menu {
      width: calc(2.625rem + 0.625 * (100vw - 20rem) / 57.5);
    }
}

@supports (height: clamp( 2.625rem , 2.4076086957rem  +  1.0869565217vw , 3.25rem )) {
    .icon-menu {
      height: clamp( 2.625rem , 2.4076086957rem  +  1.0869565217vw , 3.25rem );
    }
}

@supports not (height: clamp( 2.625rem , 2.4076086957rem  +  1.0869565217vw , 3.25rem )) {
    .icon-menu {
      height: calc(2.625rem + 0.625 * (100vw - 20rem) / 57.5);
    }
}
}

@media (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}